bleach==3.1.0
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
docutils==0.15.2
idna==2.8
lineworks==0.0.5
pkginfo==1.5.0.1
pycparser==2.19
pycryptodome==3.8.2
Pygments==2.4.2
PyJWT==1.7.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.34.0
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
